.article-grid {
    width: 70%;
    background-color: #bdbdbd;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {
    background-color: #ffffff;
    padding: 8px;
    width: 260px;
}